*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
/* Header Styles */
header{
    padding: 50px 370px;
}
/* Nav bar styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img{
    display: none;
    width: 24px;
    height: 24px;
}
.cmp img{
    margin-right: 17px;
}
nav .cmp{
    display: flex;
    align-items: center;
    color: #131318;
    font-size: 36px;
    font-weight: 900;
}
.cmp span{
    color: #FF5400;
}
.nav-bar a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.nav-bar  li{
    list-style: none;
}
.nav-bar ul{
    display: flex;
    gap: 44px;
}
.nav-bar a:hover{
    color: #FF5400;
}
/* Banner styles */
.banner{
    width: 1170px;
    height: 500px;
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    margin: 83px auto;
    border-radius: 16px;

}
.banner-content .banner-title{
    color: #FFF;
    font-size: 4em;
    font-weight: 800;
    padding: 106px 287px 24px;
}
.banner-content .banner-description{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 247px 30px;
}
.banner .banner-input{
display: flex;
gap: 24px;
}
.banner-input input{
    display: flex;
}
.banner-input{ 
    background-color: rgba(255, 255, 255, 0.30);
    padding: 16px;
    border-radius: 8px;
    margin: 48px 185px 0px;
}
.banner-input #btn{
    width: 143px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.banner-input input{
    border-radius: 8px;
    border: none;
    padding: 16px;
}
.when-input{
    position: relative;
}
.when-input svg{
    position: absolute;
    top: 13px;
    left: 150px;
}
.select-input{
    position: relative;
}
.select-input svg{
    position: absolute;
    top: 13px;
    left: 150px ;
}
.button-input{
    position: relative;
}
.button-input svg{
    position: absolute;
    top: 14px;
    right: 110px;
}
.button-input #btn{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 39px;
}
/* Main Styles */
/* SEction 1 Styles */
.sec-1{
    display: flex;
    justify-content: space-between;
    margin: 50px 370px;
}
.sec-1-content .sec-1-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.sec-1-content .sec-1-sub-title{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}
.sec-1-content li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
    width: 525px;
    margin-left: 15px;
}
.sec-1-content .conclusion{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.sec-1-content input{
    border: none;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
.sec-1-content input:hover{
    background-color: #FFF;
    border: 2px solid #FF5400;
    color: #FF5400;
}
/* Section 2 styles */
.sec-2-content .sec-2-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.sec-2-content .sec-2-sub-title{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}
.sec-2-img{
    width: 100%;
}
.sec-2-img .flex-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}
.sec-2-img .flex-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}
.sec-2-img .flex-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.sec-2-img .img1{
    position: relative;
}
.img1 .maldiv{
    position: absolute;
    top: 132px;
    left: 226px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.sec-2-img .img2{
    position: relative;
}
.img2 .indo{
    position: absolute;
    top: 132px;
    left: 220px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.flex-2 .img3, .img4, .img5, .img6, .img7{
    position: relative;
}
.img3 .srilanka{
    position: absolute;
    top: 125px;
    left: 130px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.img4 .north-america{
    position: absolute;
    top: 125px;
    left: 137px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.img5 .kashmir{
    position: absolute;
    top: 125px;
    left: 81px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.img6 .bd{
    position: absolute;
    top: 132px;
    left: 156px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.img7 .bd2{
    position: absolute;
    top: 132px;
    left: 260px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.img1, .img2{
    width: 573px;
    height: 300px;
}
/* Section 3 start */
.sec-3-content .sec-3-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 24px;
}
.sec-3-content .sec-3-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}
.cart-flex{
    display: flex;
    gap: 24px;
    margin: 0 350px 24px;
}
.cart-flex .cart1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.cart-flex .cart2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.cart1 img{
    width: 90px;
    height: 90px;
    margin: 32px;
    margin-bottom: 25px;
}
.cart1 .cart1-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 32px;
    margin-bottom: 16px;
}
.cart1 .cart1-descripion{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 32px;
    margin-bottom: 32px;
}
.cart2 img{
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
}
.cart2 .cart2-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 32px;
    margin-bottom: 7px;
}
.cart2 .cart2-description{
    width: 500px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 32px;
}
.cart3{
    position: relative;
    display: flex;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 650px;
    margin-bottom: 100px;
}
.cart3 img{
    width: 75px;
    height: 75px;
    position: absolute;
    left: 30px;
    top: 30px;
}
.cart3 .cart3-title{
    position: absolute;
    top: 128px;
    left: 32px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.cart3 .cart3-description{
    position: absolute;
    top: 180px;
    left: 32px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* Section 4 styles */
.sec-4-content .sec-4-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.sec-4-content .sec-4-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}
.sec4-img .offer1{
    background-image: url("../Images/Group 39.png");
    width: 1170px;
    height: 500px;
    margin: 0px 350px;
    position: relative;
    margin-bottom: 24px;
}
.offer1-icon{
    display: flex;
    gap: 24px;
    margin-top: 50px;
    margin-left: 50px;
}
.offer1-icon .icon{
    display: flex;
}
.icon svg{
    padding-right: 5px;
}
.offer1-container{
    width: 579px;
    height: 389px;
    position: absolute;
    top: 56px;
    left: 535px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
}
.offer1-content{
    margin-left: 50px;
}
.offer1-content .offer1-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 26px;
    margin-bottom: 16px;
}
.offer1-content .offer1-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}
.offer1-content .price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
}
.offer1-content .btn-primary{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
    cursor: pointer;
}
.offer1-content .btn-primary:hover{
    border: 2px solid #FF5400;
    color: #FF5400;
    background: rgba(255, 255, 255, 0.80);
}
/* Offer 2 styles */
.sec4-img .offer2{
    background: url("../Images/Group 40.png");
    width: 1170px;
    height: 500px;
    margin: 0px 350px;
    margin-bottom: 24px;
    position: relative;
}
.offer2-icon{
    gap: 24px;
    margin-top: 50px;
    margin-left: 50px;
}
.offer2-container{
    position: absolute;
    top: 56px;
    left: 56px;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
}
.offer2-content .offer2-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 26px;
    margin-bottom: 16px;
}
.offer2-icon{
    display: flex;
}
.iconn{
    display: flex;
}
.offer2-content{
    margin-left: 50px;
}
.offer2-content .offer2-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.offer2-content .price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
}
.offer2-content .btn-primary{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
    cursor: pointer;
}
.offer2-content .btn-primary:hover{
    border: 2px solid #FF5400;
    color: #FF5400;
    background: rgba(255, 255, 255, 0.80);
}
/* Offer 3 styles */
.offer3{
    position: relative;
    background: url("../Images/Group 39.png");
    width: 1170px;
    height: 500px;
    margin: 0px 350px;
    margin-bottom: 24px;
}
.offer2-icon{
    gap: 24px;
    margin-top: 50px;
    margin-left: 50px;
}
.offer3-icon{
    gap: 24px;
    margin-top: 50px;
    margin-left: 50px;
}
.offer3-container{
    position: absolute;
    top: 56px;
    left: 535px;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
}
.offer3-content .offer3-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 26px;
    margin-bottom: 16px;
}
.offer3-icon{
    display: flex;
}
.iconnn{
    display: flex;
}
.offer3-content{
    margin-left: 50px;
}
.offer3-content .offer3-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.offer3-content .price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
}
.offer3-content .btn-primary{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
    cursor: pointer;
}
.offer3-content .btn-primary:hover{
    border: 2px solid #FF5400;
    color: #FF5400;
    background: rgba(255, 255, 255, 0.80);
}
.sec-4 .button{
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin: 30px 800px 100px;
}
.sec-4 .button:hover{
    border: 2px solid #FF5400;
    color: #FF5400;
    background-color: white;
}
/* Section 5 styles */
.sec-5{
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.column1 .column1-title{
    width: 448px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 24px;
}
.column1  .column1-sub-title{
    width: 532px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}
.column1 li{
    width: 518px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
    margin-left: 15px;
}
.column1 .btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
}
.column1 .btn:hover{
    border: 2px solid #FF5400;
    color: #FF5400;
    background-color: white;
}
.column2 video{
    width: 600px;
    height: 337px;
    border: 2px solid #FF5400;
}
/* Section 6 styles */
.sec-6{
    position: relative;
    margin-bottom: 100px;
}
.sec6-content{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.sub-column .sec6-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
    margin-top: 40px;
    margin-left: 40px;
    
}
.sub-column .sec6-sub-title{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    margin-left: 40px;
}
.sub-column hr{
    margin: 0 40px 24px;
}
.sub-column input{
    width: 375px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-bottom: 16px;
    padding-left: 20px;
    padding-right: 0px;
    margin-left: 40px;
}
.sub-column .subs{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin-left: 40px;
    cursor: pointer;
}
.sub-column{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.sec-6 .offer{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    border: none;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 1205px;
}
.sec-6 #travel{
    font-size: 24px;
    font-weight: 400;
}
/* Section 7 Styles */
.sec7-content .sec7-title{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.sec7-content .sec7-description{
    font-size: 17px;
    color: #5A5A5D;
    text-align: center;
    width: 600px;
    padding-left: 660px;
    padding-bottom: 24px;
}
.sec-7 .sec7-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}
.sec7-img img:hover{
    border: 1px solid #FF5400;
}
.sec7-img img{
    width: 10%;
    height: 90px;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #9e9ea6;
}
/* Footer section styles */
footer{
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}
.company{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}
.company img{
    padding-right: 16px;
}
.company .tt{
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}
.company .cc{
    color: #FF5400;
}
.footer-sub{
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 33px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer hr{
    margin: 50px 400px;
}
footer .copyright{
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
/* Finished */


@media screen and (max-width:680px) {
    header{
        padding: 50px 20px 0px 20px;
    }
    .nav-bar a{
        display: none;
    }
    .cmp img{
        width: 28.724px;
        height: 33.516px;
    }
    .cmp p{
        width: 120px;
        height: 27px;
        font-size: 20px;
    }
    .cmp img{
        margin-right: 7px;
    }
    .nav-bar img{
        display: flex;
        margin-left: 150px;
    }
    .banner{
        width: 100%;
        margin-bottom: 24px;
    }
    .banner-content .banner-title{
        padding: 32px 0px 10px 0px;
        font-size: 22px;
        text-align: center;
    }
    .banner-content .banner-description{
        padding: 0px 16px 32px;
        font-size: 14px;
        font-size: 14px;
    }
    .banner-input input{
        flex-direction: column;
        margin: 0px;
    }
    .sec-1{
        flex-direction: column;
        margin: 50px 20px;
    }
    .sec-1 .sec-1-content{
        width: 100%;
    }
    .sec-1-content .sec-1-title{
        font-size: 20px;
    }
    .sec-1-content .sec-1-sub-title, .sec-1-content li, .sec-1-content .conclusion, .sec-2-content .sec-2-sub-title {
        font-size: 14px;
    }
    .sec-1-content li, .sec-1-content .sec-1-sub-title{
        width: 315px;
    }
    .sec-1-img img{
        width: 100%;
        margin-top: 25px;
    }
    .sec-2-content .sec-2-title{
        font-size: 20px;
        margin-bottom: 16px;
    }
    .sec-2-img .flex-1, .sec-2-img .flex-2, .sec-2-img .flex-3{
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }
    .sec-3-content .sec-3-title{
        font-size: 20px;
    }
    .sec-3-content .sec-3-description{
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .cart-flex{
        flex-direction: column;
        margin: 0 0px 24px;
    }
    .cart-flex .cart1{
        width: 335px;
        height: 289px;
    }
    .cart1{
        width: 335px;
        height: 289px;
    }
    .cart1 img{
        width: 60px;
        height: 60px;
    }
    .cart1 .cart1-title, .cart2 .cart2-title, .cart3 .cart3-title{
        font-size: 20px;
    }
    .cart1 .cart1-descripion, .cart2 .cart2-description, .cart3 .cart3-description{
        width: 271px;
        font-size: 14px;
    }
    .cart-flex .cart2{
        width: 335px;
        height: 289px;
    }
    .cart2 img{
        width: 100px;
        height: 100px;
    }
    .cart3{
        width: 335px;
        height: 289px;
        margin: 0;
        margin-bottom: 24px;
    }
    .cart3 img{
        width: 60px;
        height: 60px;
    }
    .sec-4-content .sec-4-title{
        font-size: 20px;
    }
    .sec-4-content .sec-4-description{
        font-size: 14px;
        padding: 5px;
    }
    .sec-3-cart{
        padding-left: 12px;
    }
    .sec-5{
        flex-direction: column;
    }
    .column1{
        padding-left: 30px;
        justify-content: none;
        align-items: left;
    }
    .column1 .column1-title{
        font-size: 20px;
        width: 248px;
        line-height: 30px;
    }
    .column1 .column1-sub-title, .column1 li{
        font-size: 14px;
        width: 305px;
    }
    .column2 video{
        margin-left: 16px;
        width: 90%;
        height: 90%;
        border: none;
    }
    .sec6-content{
        flex-direction: column;
    }
    .sub-column .sec6-title{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .sub-column .sec6-sub-title{
        font-size: 14px;
        width: 270px;
        margin-bottom: 16px;
    }
    .sub-column hr{
        margin-bottom: 16px;
    }
    .sub-column{
        width: 335px;
        height: 353px;
        border-radius: 16px;
        border: 1px solid #FF5400;
    }
    .sub-column input{
        width: 250px;
        height: 52px;
        margin-bottom: 16px;
    }
    .sub-column .subs{
        width: 270px;
        height: 52px;
    }
    .pic-column img{
        width: 95%;
        padding-left: 7px;
    }
    .sec-6 .offer{
        width: 214.023px;
        height: 79.268px;
        transform: rotate(-19.628deg);
        top: 480px;
        left: 130px;
        font-size: 21px;
    }
    .sec-6 #travel{
        font-size: 15px;
    }
    .company img{
        width: 28px;
        height: 33px;
    }
    .company .tt{
        font-size: 21px;
    }
    footer .footer-sub{
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }
    footer .copyright{
        font-size: 14px;
    }
    .sec4-img .offer1, .sec4-img .offer2{
        margin: 0px;
        width: 90%;
        margin-bottom: 16px;
        margin-left: 18px;
        border-radius: 16px;
    }
    .offer3{
        margin: 0px;
        width: 90%;
        /* margin-bottom: 16px; */
        margin-left: 18px;
        border-radius: 16px;
    }
    .offer1 .offer1-container, .offer2 .offer2-container, .offer3 .offer3-container{
        width: 303px;
        height: 297px;
        top: 180px;
        left: 8px;
    }
    .offer1 .offer1-icon, .offer2 .offer2-icon, .offer3 .offer3-icon{
        margin: 0;
        margin-top: 20px;
        margin-left: 20px;
        flex-wrap: wrap;
    }
    .offer1-content .offer1-title, .offer2-content .offer2-title, .offer3 .offer3-title{
        font-size: 20px;
        margin: 0;
        margin-bottom: 5px;
    }
    .offer1-content .offer1-description, .offer2-content .offer2-description, .offer3 .offer3-description{
        font-size: 14px;
        line-height: 24px; 
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .offer1-content .price, .offer2-container .price, .offer3 .price{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .offer1-content .btn-primary, .offer2-content .btn-primary, .offer3 .btn-primary{
        width: 130px;
        height: 40px;
        margin-top: 0;
    }
    .flex-1 .img1{
        /* width: 335px;
        height: 176px; */
        width: 75%;
        height: 75%;
        margin-bottom: 110px;
    }
    .sec-2-img{
        width: 50%;
        border-radius: 16px;
    }
    .sec7-content .sec7-title{
        font-size: 20px;
    }
    .sec7-content .sec7-description{
        font-size: 14px;
        padding-left: 10px;
        width: auto;
    }
    .sec-7 .sec7-img{
        flex-direction: column;
    }
    .sec7-img img{
        width: 50%;
    }
    /* .banner-input input{
        flex-wrap: wrap;
    } */
    .banner-input{
       flex-direction: column;
       margin-left: 30px;
       padding: 16px;
       margin-top: 0px;
        }
        .banner-input{
            padding: 16px;
           background: none;
        }
        .banner-input input{
            width: 200px;
            height: 20px;
            margin-bottom: 0px;
        }
        .when-input svg{
            top: 15px;
            left: 190px;
        }
        .select-input svg{
            top: 15px;
            left: 190px ;
        }
        .banner-input #btn{
            width: 143px;
            height: 45px;
            text-align: center;
        }
        .button-input svg{
            top: 14px;
            left: 10px;
        }
}